---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { getLangFromUrl } from "@/i18n";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
---

<html class="scroll-smooth" lang={lang} transition:animate="none">
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
		<ViewTransitions />
	</head>
	<body
		class="relative mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColor px-4 pt-16 font-mono text-sm font-normal text-textColor antialiased sm:px-8"
	>
		<div
			class="absolute left-0 top-0 z-[-2] h-screen w-full bg-inherit bg-[radial-gradient(100%_50%_at_50%_0%,rgba(12,246,162,0.13)_0,rgba(213,246,12,0)_50%,rgba(213,246,12,0)_100%)]"
		>
		</div>
		<ThemeProvider />
		<SkipLink />
		<Header />
		<main id="main" transition:animate="fade">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script>
	if (import.meta.env.PROD) {
		console.log(
			"%cHayoo mau ngapain?",
			"background: -webkit-linear-gradient(#0CF6A2, #D5F60C); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: 600; font-size: 2rem;"
		);
	}
</script>
